/* Light styling for presentation */
details {
    border-block-end: 1px solid #000;
    margin-block: .5rem;
    padding-block: .5rem;
}

summary {
    /* Pin the custom marker to the container */
    position: relative;

    /* Register summary as an anchor element */
    anchor-name: --summary;

    &::marker {
        content: "";
    }

    &::before,
    &::after {
        /* Custom marker dimensions */
        content: "";
        border-block-start: 3px solid orangered;
        height: 0;
        width: 1rem;

        /* Positions the lines */
        inset-block-start: 50%;
        inset-inline-end: 0;

        /* Anchor the shape to the summary */
        position: absolute;
        position-anchor: --summary;
        position-area: top end;
    }

    /* Rotate just the ::after line to create a "+" shape */
    &::after {
        transform: rotate(90deg);
        transform-origin: 50%;
    }
}

/* Rotate ONLY the marker belonging to the opened details */
details[open]>summary::after {
    transform: rotate(0deg);
}


/* ---------------------------------------------------------
   Different marker colors for each nesting level
   --------------------------------------------------------- */

.stage-1>summary::before,
.stage-1>summary::after {
    border-block-start-color: #0d6efd;
}

.stage-2>summary::before,
.stage-2>summary::after {
    border-block-start-color: #198754;
}

.stage-3>summary::before,
.stage-3>summary::after {
    border-block-start-color: #fd7e14;
}

.stage-4>summary::before,
.stage-4>summary::after {
    border-block-start-color: #6f42c1;
}

.stage-2 {
    text-indent: 25px;
    color: #19583b;
    margin-left: 5%;
    width: 95%;
}

.stage-3 {
    text-indent: 75px;
    color: #9e4904;
    margin-left: 10%;
    width: 90%;
}

.stage-4 {
    text-indent: 125px;
    color: #412477;
    margin-left: 15%;
    width: 85%;
}

.stage-5 {
    text-indent: 175px;
}