{% extends 'generic/_base.html' %}
{% load i18n %}

{% block title %}{% trans "Network Elements" %}{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h2 class="card-title">{% trans "Network Elements" %}</h2>
    </div>
    <div class="table-responsive">
      <table class="table table-hover table-vcenter">
        <thead>
          <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "IP address" %}</th>
            <th>{% trans "Device type" %}</th>
            <th>{% trans "Location" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for element in table.data %}
            <tr>
              <td>{{ element.name }}</td>
              <td>{{ element.ip_address }}</td>
              <td>{{ element.get_device_type_display }}</td>
              <td>{{ element.get_location_display }}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="4" class="text-center text-secondary">
                {% trans "No network elements found." %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
